<%- include("../partials/header") %>
<div class="container">
    <h1 class="text-center">Edit your Comment </h1>

</div>


<form action="/campgrounds/<%=campingData%>/comment/<%=commentData._id%>?_method=PUT" method="POST" id="form2">
    <div class="container">
        <div class="form-group row">           
            <div class="col-12">
              <input type="text" class="form-control" name="comment[text]" placeholder="Comment" value="<%=commentData.text %>">
            </div>
        </div>


        <div class="form-group row">           
            <div class="col-12">
              <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>       
        </div>
        <a href="/campgrounds">Get Back to camp</a>
    </div> 
</form>



<%- include("../partials/footer") %>