<%- include("../partials/header") %>

    <header class="jumbotron mb-0 p-5">
        <div class="container">
            <h1 class="display-4 text-center">VenjCamp</h1>
            <p class="lead text-center">Unlimitted and free photos shared by a community of Happy and Adventurous Persons in Lipa Batangas</p>
            <hr class="my-4">
            <a class="btn btn-primary text-center" href="/campgrounds/new"> Share your Photos Now</a>

            <%if(success && success.length > 0) {%>
                <div class="alert alert-success mt-3 mb-0" role="alert">
                  <%= success %>
              </div>
              <%} else { %>
        
              <%} %>
        
              <%if(error && error.length > 0) {%>
                <div class="alert alert-danger mt-3 mb-0" role="alert">
                  <%= error %>
              </div>
              <%} else { %>
        
              <%} %>
        </div>
        
 
    </header>



<div class="container">
    <div class="row imgCampground ">
        <% camps.forEach(function(camp) { %>
            <div class="mx-auto col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                
                <div class="card text-center mt-4" style="width: 100%;">
                    <img src="<%= camp.image %> " class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center"><%= camp.name %> </h5>
                      <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
            </div>
        <% }); %>
    </div>   
</div>








<%- include("../partials/footer") %>