<%- include("../partials/header") %>
<div class="container">
    <h1 class="text-center">Edit: <%=data.name %></h1>

</div>


<form action="/campgrounds/<%=data._id %>?_method=PUT" method="POST" id="form1">
    <div class="container">
        <div class="form-group row">           
            <div class="col-12">
              <input type="text" class="form-control" name="camps[name]" placeholder="YelpCamp Name" value="<%=data.name %>">
            </div>
        </div>
        <div class="form-group row">           
            <div class="col-12">
              <input type="text" class="form-control" name="camps[image]" placeholder="Image Url" value="<%=data.image %>">
            </div>
            
        </div>
        <div class="form-group row">           
          <div class="col-12">
            <input type="text" class="form-control" name="camps[description]" placeholder="Write Desciption" value="<%=data.description %>">
          </div>
          
        </div>
        <div class="form-group row">           
            <div class="col-12">
              <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
            
        </div>
        <a href="/campgrounds">Get Back to camp</a>
    </div> 
</form>


<%- include("../partials/footer") %>