<%- include("../partials/header") %>

<div class="container">
    <div class="row mt-4">
        <div class= "d-none d-md-block col-md-3">
            <h1>VenjCamp</h1>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>

              </ul>
        </div>
        <div class="col-12 col-md-9">
            <div class="card" style="width: 100%;">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class=" float-right card-title">$9.00/Night</h5>
                  <h4 class="card-text"><a href=""><%= campground.name %></a></h4>
                  <p class="card-text lead">Submitted by: <a href=""> <%=campground.user.username %></a></p>

                  <p><%= campground.description %> </p>

                  <% if(currentUser && currentUser._id.equals(campground.user.id) ) { %>
                    <a class="btn btn-warning" href="/campgrounds/<%=campground._id %>/edit">Edit Campground</a>
                    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" style="display: inline;">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                  <% } else { %>

                  <% } %>
                </div>
              </div>
              <div class="card mt-1 bg-custom">
                <div class="card-body">
                  <a class="btn btn-success float-right" href="/campgrounds/<%=campground._id %>/comment/new">Add New Comment</a>
                  
                </div>
                <hr>
                <div class="container">
                    <% campground.comment.forEach(function(comm){ %>
                            <p class="m-0" style="display: inline;"><strong><%=comm.author.username %></strong></p>

                          <% if(currentUser && currentUser._id.equals(comm.author.id)){ %>
                            
                            <a class="btn btn-warning btn-sm float-right" href="/campgrounds/<%=campground._id %>/comment/<%=comm._id %>/edit">Edit</a>
                            <form class="float-right mr-3 pl-3" action="/campgrounds/<%=campground._id%>/comment/<%=comm._id%>?_method=DELETE" method="POST" style="display: inline; ">
                              <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                          <% } else { %>

                          <% } %>
    
                            <!-- <span class="float-right">10 days ago</span> -->
                            <p><%= comm.text %></p>
                            <hr>
                    <% }) %>
                </div>

              </div>
        </div>
    </div>
</div>

<h1> </h1>

<p></p>






<a href="/campgrounds"> Get Back to Camp</a>


<%- include("../partials/normalFooter") %>