<%- include("../partials/showHeader") %>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>


<div class="container">
    <div class="row mt-4">
        <div class= "d-none d-md-block d-none d-md-block col-md-3">
            <h1 class="text-center"><i class=" yeah fas fa-campground"></i>VenjCamp</h1>
            <ul class="list-group">
                <li class="list-group-item active text-center">Location Map</li>
 

            </ul>
            <div class="card mt-4 ">       
                <!--Google map-->
                <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                  <iframe src = "<%=url1 + campground.location + url2 %>"</iframe>
                    frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
        
                <div class="card-body">
                  <h5 class="card-title"><%=campground.location%></h5>
                  <a href="<%=url1 + campground.location%>" class="btn btn-success mx-auto">Google Map</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-9">
            <div class="card" style="width: 100%;">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-text"><a href=""><%= campground.name %></a></h4>
                  <div class="showButtons">

                    <% if(currentUser && currentUser._id.equals(campground.user.id) ) { %>

                      <a class="btn btn-warning btn-sm" href="/campgrounds/<%=campground._id%>/edit">Edit Post</a>
                      <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" style="display: inline;">
                          <button class="btn btn-danger btn-sm">Delete</button>
                      </form>
                    <% } else { %>
  
                    <% } %>
                  </div>
                  <p class="Address my-0">At: <%=campground.location%></p>
                  <p class="my-0">Submitted by: <a href="/campgrounds/otherProf/<%=campground.user.id%>"> <%=campground.user.username %></a></p>

                  <hr>


                  <h3>Description: <br></h3><p class="text-justify indent">  <%= campground.description %> </p>
                  <div class="fb-share-button" 
                      data-href="https://mysterious-sands-06059.herokuapp.com/campgrounds/<%=campground._id%>" 
                      data-layout="button_count" data-size="large"><a target="_blank" 
                      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmysterious-sands-06059.herokuapp.com%2Fcampgrounds&amp;src=sdkpreparse" 
                      class="fb-xfbml-parse-ignore">Share</a>
                  </div>

                </div>
              </div>
              <div class="card mt-1 bg-custom">
                <div class="card-body">
                  <form action="/campgrounds/<%= campground._id %>/comment" method="POST" id="form2">
                    <div class="container">
                        <div class="form-group row">           
                            <div class="col-12">
                              <input type="text" class="form-control" name="comment[text]" placeholder="Comment">
                            </div>
                        </div>
                
                
                        <div class="form-group row">           
                            <div class="col-12">
                              <button class="btn btn-primary btn-lg btn-block">Submit</button>
                            </div>
                            
                        </div>
                      </div> 
                </form>                  
                </div>
                <hr>
                <div class="container">
                    <% campground.comment.forEach(function(comm){ %>
                            <p class="m-0" style="display: inline;"><strong><%=comm.author.username %></strong></p>

                          <% if(currentUser && currentUser._id.equals(comm.author.id)){ %>
                            
                            <a class="btn btn-warning btn-sm float-right" href="/campgrounds/<%=campground._id %>/comment/<%=comm._id %>/edit">Edit</a>
                            <form class="float-right mr-3 pl-3" action="/campgrounds/<%=campground._id%>/comment/<%=comm._id%>?_method=DELETE" method="POST" style="display: inline; ">
                              <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                          <% } else { %>

                          <% } %>
    
                            <!-- <span class="float-right">10 days ago</span> -->
                            <p><%= comm.text %></p>
                            <hr>
                    <% }) %>
                </div>

              </div>
        </div>
    </div>
</div>

<h1> </h1>

<p></p>






<a href="/campgrounds"> Get Back to Camp</a>


<%- include("../partials/normalFooter") %>